/* General rules  */

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 90%;
    margin:0 auto;    
}
.d-flex{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}
.h100{
    height: 100vh;
}
.not-visible{
    display: none;
}

/* Header rules  */
header{
    background-color: black;
    position: relative;

}
#header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 0 0.7rem 0; 

}
#logo{
    color: red;
    font-size: 1.5rem;
}
.search-bar span{
padding: 10px;
}

/* main rules  */
main{
   
  background-color: #434343;
}
.photo-container{
    width: 100%;   
}

.photo-container .card{
    margin:2rem 1rem 0 0;    
}

.errore{
    color:whitesmoke;
    text-align: center;
    vertical-align: middle;
    line-height: 70vh;
    height: 100vh;
    
}